<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fan.pageHelper.mapper.MenuMapper">

    <resultMap id="menuMap" type="com.fan.pageHelper.entity.SysMenu">
        <id property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
    </resultMap>

    <select id="menuList" resultMap="menuMap">
        select * from sys_menu
    </select>

</mapper>